# Assignment on Auto dataset

In [1]:
#importing pandas and numpy
import pandas as pd
import numpy as np

### 1.Downloading the auto data set

In [2]:
# Downloading the autodata set
df = pd.read_csv('autos.csv')
df

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,23,28,16845
189,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8,160,5300,19,25,19045
190,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8,134,5500,18,23,21485
191,-1,volvo,diesel,turbo,4,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23,106,4800,26,27,22470
192,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,19,25,22625

### 2. Print out the first 8 entries

In [3]:
#printing the first 8 rows
df.head(8)

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450
5,2,audi,gas,std,2,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8,110,5500,19,25,15250
6,1,audi,gas,std,4,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,17710
7,1,audi,gas,std,4,wagon,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,18920

### 3. Return a data frame containing the minimum price of each car

In [4]:
# Returning the dataframe of minimum prices of each car
gpd_a = df.groupby('make')
min_price = gpd_a['price'].min()
min_price

make
alfa-romero      13495
audi             13950
bmw              16430
chevrolet         5151
dodge             5572
honda             5399
isuzu             6785
jaguar           32250
mazda             5195
mercedes-benz    25552
mercury          16503
mitsubishi        5389
nissan            5499
peugot           11900
plymouth          5572
porsche          22018
saab             11850
subaru            5118
toyota            5348
volkswagen        7775
volvo            12940
Name: price, dtype: int64

### 4. What is the smallest standard deviation of the prices?

In [11]:
std_dev = np.std(df).min()
std_dev

0.2716780076438119

### 5. Return the last 2 rows of each group of car make and fuel_type

In [26]:
col = ['make', 'fuel_type']
print(df[col].tail(2))

      make fuel_type
191  volvo    diesel
192  volvo       gas

### 6. Replicate the Split-apply-combine without GroupBy

### 7. Create 2 separate dictionaries and join them as a new dataset

In [37]:
dict_1 = {'make':['Alfa', 'benz', 'audi', 'saab'],'price':[25580, 56444, 36215,12548]}
dict_2 = {'make':['volvo', 'Toyota', 'vitz', 'nissan'], 'price':[38792, 478915, 897452,59864]}
df_1 = pd.DataFrame(dict_1)
df_2 = pd.DataFrame(dict_2)
merge_df = pd.concat([df_1, df_2],ignore_index=True)
merge_df

     make   price
0    Alfa   25580
1    benz   56444
2    audi   36215
3    saab   12548
4   volvo   38792
5  Toyota  478915
6    vitz  897452
7  nissan   59864